<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>htmlDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D1C148B1C953FCE008AC459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1C14A41C953FCF008AC459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1C14AF1C953FCF008AC459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
